<div class="card bg-light">
    <div class="card-body">
        <div class="card-title h5">
            {{label}}
        </div>
        <div class="list-group overflow-auto" cdkDropList (cdkDropListDropped)="onTokenDropped($event)">
            <div class="list-group-item text-truncate text-left mt-1" [ngClass]="{'active': token.isSelected==true}"
                *ngFor="let token of tokens.slice().reverse()" cdkDrag (mouseup)="onTokenMouseUp(token)">
                <div class="list-group-item bg-dark text-light mt-1 rounded" *cdkDragPlaceholder>
                    {{cdkDragPlaceholderText}}
                </div>
                {{token.name}}
            </div>
        </div>
    </div>
</div>
<div class="btn-group w-100">
    <button type="button" class="btn btn-secondary" (click)="addNew()">{{addButtonText}}</button>
    <button type="button" class="btn btn-secondary" (click)="selectAll()">{{selectAllButtonText}}</button>
    <button type="button" class="btn btn-secondary" (click)="selectNone()">{{selectNoneButtonText}}</button>
    <button type="button" class="btn btn-secondary" (click)="removeSelected()">{{removeButtonText}}
        ({{selectedTotal}})</button>
</div>