<div class="container mt-2">
  <div class="row mb-1">
    <div class="col-sm h2">
      {{textConfig.appTitle}}
    </div>
    <div class="col-sm">
      <div class="btn-toolbar float-right">
        <!-- TODO: disable when no changes, loading icon, and save successful message -->
        <div class="btn-group mr-1">
          <button type="button" class="btn btn-secondary">{{textConfig.saveButtonText}}</button>
          <button type="button" class="btn btn-secondary">{{textConfig.loadButtonText}}</button>
          <button type="button" class="btn btn-secondary">{{textConfig.cancelButtonText}}</button>
        </div>
        <div class="btn-group mr-1">
          <button type="button" class="btn btn-secondary">{{textConfig.generateCodeButtonText}}</button>
        </div>
        <div class="btn-group">
          <button type="button" class="btn btn-secondary oi oi-cog" data-toggle="modal"
            data-target="#settingsModal"></button>
        </div>
      </div>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-sm">
      <app-mew-data-list [label]="textConfig.scaffoldControlLabel" [tokenLabel]="textConfig.scaffold" [data]="scaffolds"
        [parentData]="print"></app-mew-data-list>
      <app-mew-data-form [label]="textConfig.scaffoldFormLabel" [dataLabel]="textConfig.scaffold" [data]="scaffolds">
      </app-mew-data-form>
    </div>
    <div class="col-sm">
      <app-scaffold-positioning [data]="scaffolds"></app-scaffold-positioning>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-sm">
      <app-mew-data-list [label]="textConfig.layerControlLabel" [tokenLabel]="textConfig.layer" [data]="layers"
        [parentData]="scaffolds">
      </app-mew-data-list>
      <app-mew-data-form [label]="textConfig.layerFormLabel" [dataLabel]="textConfig.layer" [data]="layers">
      </app-mew-data-form>
    </div>
    <div class="col-sm">
      <app-mew-data-chart [data]="layers"></app-mew-data-chart>
    </div>
  </div>

  <app-settings-modal></app-settings-modal>
</div>