<div class="container mt-1">
  <div class="row mb-1">
    <div class="col-sm">
      <div class="d-flex">
        <div class="d-inline-block h2">
          {{textConfig.appTitle}}
        </div>
        <div class="btn-group ml-auto">
          <!-- TODO: disable when no changes, loading icon, and save successful message -->
          <button type="button" class="btn btn-secondary">{{textConfig.saveButtonText}}</button>
          <button type="button" class="btn btn-secondary">{{textConfig.cancelButtonText}}</button>
        </div>
      </div>
    </div>
  </div>

  <!-- TODO: make component -->
  <div class="row mb-1">
    <div class="col-sm">
      <app-token-list label="{{textConfig.scaffoldControlLabel}}" tokenLabel="{{textConfig.scaffold}}"
        [data]="scaffolds"></app-token-list>
    </div>
    <div class="col-sm">
      <app-token-form label="{{textConfig.scaffoldFormLabel}}" dataLabel="{{textConfig.scaffold}}" [data]="scaffolds"></app-token-form>
    </div>
  </div>

  <div class="row mb-1">
    <div class="col-sm">
      <app-token-list label="{{textConfig.layerControlLabel}}" tokenLabel="{{textConfig.layer}}" [data]="layers">
      </app-token-list>
    </div>
    <div class="col-sm">
      <app-token-form label="{{textConfig.layerFormLabel}}" dataLabel="{{textConfig.layer}}" [data]="layers"></app-token-form>
    </div>
  </div>

  <div class="row mb-1">
    <div class="col-sm">
      <app-token-list label="{{textConfig.fiberControlLabel}}" tokenLabel="{{textConfig.fiber}}" [data]="fibers">
      </app-token-list>
    </div>
    <div class="col-sm">
      <app-token-form label="{{textConfig.fiberFormLabel}}" dataLabel="{{textConfig.fiber}}" [data]="fibers"></app-token-form>
    </div>
  </div>
</div>