<div class="modal fade" id="settingsModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <span class="modal-title h4">{{textConfig.settingsTitle}}</span>
        <button type="button" class="close" data-dismiss="modal">
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div class="h5">{{textConfig.settingsUserInterfaceLabel}}</div>
          <div class="form-group form-check">
            <input id="settingsAdvancedModeOn" type="checkbox" class="form-check-input" [name]="nameAdvancedModeOn"
              [checked]="settingsConfig.advancedModeOn" (input)="onInput($event.target.name, $event.target.checked)">
            <label for="settingsAdvancedModeOn"
              class="form-check-label">{{textConfig.settingsAdvancedModeLabel}}</label>
          </div>
          <div class="form-group form-check">
            <input id="settingsMultiSelectOn" type="checkbox" class="form-check-input" [name]="nameMultiSelectOn"
              [checked]="settingsConfig.multiSelectOn" (input)="onInput($event.target.name, $event.target.checked)">
            <label for="settingsMultiSelectOn" class="form-check-label">{{textConfig.settingsMultiSelectLabel}}</label>
          </div>
          <hr class="my-4">

          <div class="h5">{{textConfig.settingsPrintAreaLabel}}</div>
          <div class="form-group form-row">
            <div class="col">
              <label for="settingsPrintAreaBottomLeftX">{{textConfig.settingsPrintAreaBottomLeftXLabel}}</label>
              <input id="settingsPrintAreaBottomLeftX" type="number" class="form-control"
                [name]="namePrintAreaBottomLeftX" [value]="settingsConfig.printAreaBottomLeftX"
                (input)="onInput($event.target.name, $event.target.value)">
            </div>
            <div class="col">
              <label for="settingsPrintAreaBottomLeftY">{{textConfig.settingsPrintAreaBottomLeftYLabel}}</label>
              <input id="settingsPrintAreaBottomLeftY" type="number" class="form-control"
                [name]="namePrintAreaBottomLeftY" [value]="settingsConfig.printAreaBottomLeftY"
                (input)="onInput($event.target.name, $event.target.value)">
            </div>
          </div>
          <div class="form-group form-row">
            <div class="col">
              <label for="settingsPrintAreaTopRightX">{{textConfig.settingsPrintAreaTopRightXLabel}}</label>
              <input id="settingsPrintAreaTopRightX" type="number" class="form-control" [name]="namePrintAreaTopRightX"
                [value]="settingsConfig.printAreaTopRightX" (input)="onInput($event.target.name, $event.target.value)">
            </div>
            <div class="col">
              <label for="settingsPrintAreaTopRightY">{{textConfig.settingsPrintAreaTopRightYLabel}}</label>
              <input id="settingsPrintAreaTopRightY" type="number" class="form-control" [name]="namePrintAreaTopRightY"
                [value]="settingsConfig.printAreaTopRightY" (input)="onInput($event.target.name, $event.target.value)">
            </div>
          </div>
          <div *ngIf="settingsConfig.advancedModeOn" class="form-group form-row">
            <div class="col">
              <label for="settingsSlideWidth">{{textConfig.settingsSlideWidthLabel}}</label>
              <input id="settingsSlideWidth" type="number" class="form-control" [name]="nameSlideWidth"
                [value]="settingsConfig.slideWidth" (input)="onInput($event.target.name, $event.target.value)">
            </div>
            <div class="col">
              <label for="settingsSlideHeight">{{textConfig.settingsSlideHeightLabel}}</label>
              <input id="settingsSlideHeight" type="number" class="form-control" [name]="nameSlideHeight"
                [value]="settingsConfig.slideHeight" (input)="onInput($event.target.name, $event.target.value)">
            </div>
          </div>
          <hr class="my-4">

          <div class="h5">{{textConfig.settingsDataDefaultsLabel}}</div>
          <div class="h6">{{textConfig.scaffold}}</div>
          <div class="form-group form-row">
            <div class="col">
              <label for="settingsDefaultScaffoldName">{{textConfig.nameInputLabel}}</label>
              <input id="settingsDefaultScaffoldName" type="text" class="form-control" [name]="nameDefaultScaffoldName"
                [value]="settingsConfig.defaultScaffoldName" (input)="onInput($event.target.name, $event.target.value)"
                [placeholder]="textConfig.nameInputPlaceholder">
            </div>
          </div>
          <div class="form-group form-row">
            <div class="col">
              <label for="settingsDefaultScaffoldPositionX">{{textConfig.positionXInputLabel}}</label>
              <input id="settingsDefaultScaffoldPositionX" type="number" class="form-control"
                [name]="nameDefaultScaffoldPositionX" [value]="settingsConfig.defaultScaffoldPositionX"
                (input)="onInput($event.target.name, $event.target.value)"
                [placeholder]="textConfig.positionXInputPlaceholder">
            </div>
            <div class="col">
              <label for="settingsDefaultScaffoldPositionY">{{textConfig.positionYInputLabel}}</label>
              <input id="settingsDefaultScaffoldPositionY" type="number" class="form-control"
                [name]="nameDefaultScaffoldPositionY" [value]="settingsConfig.defaultScaffoldPositionY"
                (input)="onInput($event.target.name, $event.target.value)"
                [placeholder]="textConfig.positionYInputPlaceholder">
            </div>
          </div>
          <div class="h6">{{textConfig.layer}}</div>
          <div class="form-group form-row">
            <div class="col">
              <label for="settingsDefaultLayerName">{{textConfig.nameInputLabel}}</label>
              <input id="settingsDefaultLayerName" type="text" class="form-control" [name]="nameDefaultLayerName"
                [value]="settingsConfig.defaultLayerName" (input)="onInput($event.target.name, $event.target.value)"
                [placeholder]="textConfig.nameInputPlaceholder">
            </div>
          </div>
          <div class="form-group form-row">
            <div class="col">
              <label for="settingsDefaultLayerWidth">{{textConfig.widthInputLabel}}</label>
              <input id="settingsDefaultLayerWidth" type="number" class="form-control"
                [value]="settingsConfig.defaultLayerWidth" [name]="nameDefaultLayerWidth"
                (input)="onInput($event.target.name, $event.target.value)"
                [placeholder]="textConfig.widthInputPlaceholder">
            </div>
            <div class="col">
              <label for="settingsDefaultLayerHeight">{{textConfig.heightInputLabel}}</label>
              <input id="settingsDefaultLayerHeight" type="number" class="form-control"
                [value]="settingsConfig.defaultLayerHeight" [name]="nameDefaultLayerHeight"
                (input)="onInput($event.target.name, $event.target.value)"
                [placeholder]="textConfig.heightInputPlaceholder">
            </div>
          </div>
          <div class="form-group form-row">
            <div class="col">
              <label for="settingsDefaultDistanceBetweenFibers">{{textConfig.distanceBetweenFibersInputLabel}}</label>
              <input id="settingsDefaultDistanceBetweenFibers" type="number" class="form-control"
                [value]="settingsConfig.defaultDistanceBetweenFibers" [name]="nameDefaultDistanceBetweenFibers"
                (input)="onInput($event.target.name, $event.target.value)" step="0.1"
                [placeholder]="textConfig.distanceBetweenFibersInputPlaceholder">
            </div>
            <div class="col">
              <label for="settingsDefaultLayerAngle">{{textConfig.angleInputLabel}}</label>
              <input id="settingsDefaultLayerAngle" type="number" class="form-control"
                [value]="settingsConfig.defaultLayerAngle" [name]="nameDefaultLayerAngle"
                (input)="onInput($event.target.name, $event.target.value)"
                [placeholder]="textConfig.angleInputPlaceholder">
            </div>
          </div>
          <div class="form-group form-check">
            <input id="settingsDefaultLayerIsSinusoidal" type="checkbox" class="form-check-input"
              [name]="nameDefaultLayerIsSinusoidal" [checked]="settingsConfig.defaultLayerIsSinusoidal"
              (input)="onInput($event.target.name, $event.target.checked)">
            <label for="settingsDefaultLayerIsSinusoidal"
              class="form-check-label">{{textConfig.isSinusoidalInputLabel}}</label>
          </div>
          <div class="form-group form-row">
            <div class="col">
              <label for="settingsDefaultLayerAmplitude">{{textConfig.amplitudeInputLabel}}</label>
              <input id="settingsDefaultLayerAmplitude" type="number" class="form-control"
                [value]="settingsConfig.defaultLayerAmplitude" [name]="nameDefaultLayerAmplitude"
                (input)="onInput($event.target.name, $event.target.value)"
                [placeholder]="textConfig.amplitudeInputPlaceholder" step="0.1">
            </div>
            <div class="col">
              <label for="settingsDefaultLayerPhase">{{textConfig.phaseInputLabel}}</label>
              <input id="settingsDefaultLayerPhase" type="number" class="form-control"
                [value]="settingsConfig.defaultLayerPhase" [name]="nameDefaultLayerPhase"
                (input)="onInput($event.target.name, $event.target.value)"
                [placeholder]="textConfig.phaseInputPlaceholder">
            </div>
            <div class="col">
              <label for="settingsDefaultLayerPhaseShift">{{textConfig.phaseShiftInputLabel}}</label>
              <input id="settingsDefaultLayerPhaseShift" type="number" class="form-control"
                [value]="settingsConfig.defaultLayerPhaseShift" [name]="nameDefaultLayerPhaseShift"
                (input)="onInput($event.target.name, $event.target.value)"
                [placeholder]="textConfig.phaseShiftInputPlaceholder">
            </div>
          </div>
          <div *ngIf="settingsConfig.advancedModeOn">
            <div class="form-group form-row">
              <div class="col">
                <label for="settingsDefaultLayerSpeed">{{textConfig.speedInputLabel}}</label>
                <input id="settingsDefaultLayerSpeed" type="number" class="form-control"
                  [value]="settingsConfig.defaultLayerSpeed" [name]="nameDefaultLayerSpeed"
                  (input)="onInput($event.target.name, $event.target.value)"
                  [placeholder]="textConfig.speedInputPlaceholder">
              </div>
              <div class="col">
                <label for="settingsDefaultLayerPressure">{{textConfig.pressureInputLabel}}</label>
                <input id="settingsDefaultLayerPressure" type="number" class="form-control"
                  [value]="settingsConfig.defaultLayerPressure" [name]="nameDefaultLayerPressure"
                  (input)="onInput($event.target.name, $event.target.value)"
                  [placeholder]="textConfig.pressureInputPlaceholder">
              </div>
              <div class="col">
                <label for="settingsDefaultLayerTemperature">{{textConfig.temperatureInputLabel}}</label>
                <input id="settingsDefaultLayerTemperature" type="number" class="form-control"
                  [value]="settingsConfig.defaultLayerTemperature" [name]="nameDefaultLayerTemperature"
                  (input)="onInput($event.target.name, $event.target.value)"
                  [placeholder]="textConfig.temperatureInputPlaceholder">
              </div>
            </div>
            <div class="form-group form-row">
              <div class="col">
                <label for="settingsDefaultLayerLoopSpeed">{{textConfig.loopSpeedInputLabel}}</label>
                <input id="settingsDefaultLayerLoopSpeed" type="number" class="form-control"
                  [value]="settingsConfig.defaultLayerLoopSpeed" [name]="nameDefaultLayerLoopSpeed"
                  (input)="onInput($event.target.name, $event.target.value)"
                  [placeholder]="textConfig.loopSpeedInputPlaceholder">
              </div>
              <div class="col">
                <label for="settingsDefaultLayerLoopRadius">{{textConfig.loopRadiusInputLabel}}</label>
                <input id="settingsDefaultLayerLoopRadius" type="number" class="form-control"
                  [value]="settingsConfig.defaultLayerLoopRadius" [name]="nameDefaultLayerLoopRadius"
                  (input)="onInput($event.target.name, $event.target.value)"
                  [placeholder]="textConfig.loopRadiusInputPlaceholder">
              </div>
            </div>
            <div class="form-group form-row">
              <div class="col">
                <label for="settingsDefaultLayerWaitIn">{{textConfig.waitInInputLabel}}</label>
                <input id="settingsDefaultLayerWaitIn" type="number" class="form-control"
                  [value]="settingsConfig.defaultLayerWaitIn" [name]="nameDefaultLayerWaitIn"
                  (input)="onInput($event.target.name, $event.target.value)"
                  [placeholder]="textConfig.waitInInputPlaceholder">
              </div>
              <div class="col">
                <label for="settingsDefaultLayerWaitOut">{{textConfig.waitOutInputLabel}}</label>
                <input id="settingsDefaultLayerWaitOut" type="number" class="form-control"
                  [value]="settingsConfig.defaultLayerWaitOut" [name]="nameDefaultLayerWaitOut"
                  (input)="onInput($event.target.name, $event.target.value)"
                  [placeholder]="textConfig.waitOutInputPlaceholder">
              </div>
            </div>
            <div class="form-group form-row">
              <div class="col">
                <label for="settingsDefaultLayerZDistance">{{textConfig.zDistanceInputLabel}}</label>
                <input id="settingsDefaultLayerZDistance" type="number" class="form-control"
                  [value]="settingsConfig.defaultLayerZDistance" [name]="nameDefaultLayerZDistance"
                  (input)="onInput($event.target.name, $event.target.value)"
                  [placeholder]="textConfig.zDistanceInputPlaceholder">
              </div>
            </div>
          </div>

          <hr class="my-4">
          <button type="button" class="btn btn-secondary"
            (click)="saveSettingsAsCookie()">{{textConfig.saveButtonText}}</button>
      </div>
    </div>
  </div>
</div>