<div class="modal fade" id="generateCodeModal" tabindex="-1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <span class="modal-title h4">{{textConfig.generateCodeModalTitle}}</span>
        <button type="button" class="close" data-dismiss="modal">
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <textarea id="codeArea" class="w-100">{{code}}</textarea>
        <div class="btn-group">
          <button type="submit" class="btn btn-secondary" (click)="generateCode()">{{textConfig.generateCodeButtonText}}</button>
          <button class="btn btn-secondary" (click)="saveToFile()">{{textConfig.saveToFileButtonText}}</button>
        </div>
      </div>
    </div>
  </div>
</div>