<div class="card bg-light">
    <div class="card-body">
        <div class="card-title h5 d-flex">
            {{tokenLabel}} {{textConfig.controlLabel}}
            <button type="button" class="btn ml-auto {{collapseButtonIcon}}" (click)="collapse()" [title]="collapseButtonTitle"></button>
        </div>
        <div *ngIf="!isCollapsed">
            <div class="list-group overflow-auto" cdkDropList (cdkDropListDropped)="onTokenDropped($event)">
                <div class="list-group-item text-truncate text-left mb-1" [ngClass]="{'active': token.isSelected}"
                    *ngFor="let token of getViewData().reverse()" cdkDrag (mouseup)="onTokenMouseUp(token)">
                    <div class="list-group-item bg-dark text-light mb-1 rounded" *cdkDragPlaceholder>
                        {{textConfig.cdkDragPlaceholderText}}
                    </div>
                    <span cdkDragHandle class="oi oi-elevator mr-3"></span>
                    <div class="d-inline-block token-path">
                        {{token.path}}
                    </div>
                    {{token.name}}
                    <span *ngIf="token.color" class="oi oi-aperture ml-2" [ngStyle]="{'color': token.color}"></span>
                    <span *ngIf="!token.color" class="oi oi-aperture ml-2" [ngStyle]="{'color': token.parent?.color}"></span>
                </div>
            </div>
            <div class="btn-group w-100 mt-1">
                <button type="button" class="btn btn-secondary" [disabled]="isAddDisabled"
                    (click)="addNew()">{{textConfig.addButtonText}}</button>
                <button type="button" class="btn btn-secondary" [disabled]="selectedTotal == 0"
                    (click)="cloneSelected()">{{textConfig.cloneButtonText}} ({{selectedTotal}})</button>
                <button type="button" class="btn btn-secondary" *ngIf="settingsConfig.multiSelectOn"
                    [disabled]="getViewData().length == 0"
                    (click)="selectAll()">{{textConfig.selectAllButtonText}}</button>
                <button type="button" class="btn btn-secondary" *ngIf="settingsConfig.multiSelectOn"
                    [disabled]="getViewData().length == 0"
                    (click)="selectNone()">{{textConfig.selectNoneButtonText}}</button>
                <button type="button" class="btn btn-secondary" [disabled]="selectedTotal == 0"
                    (click)="deleteSelected()">{{textConfig.removeButtonText}}
                    ({{selectedTotal}})</button>
            </div>
        </div>
    </div>
</div>