<div class="card bg-light">
  <div class="card-body">
    <div class="card-title h5 d-flex">
      {{textConfig.scaffold}} {{textConfig.positioningTitle}}
    </div>
    <div class="d-flex justify-content-center">
      <div id="positionBoundary" class="border border-secondary" [ngStyle]="positionBoundaryStyle">
        <div class="bg-dark" *ngFor="let scaffold of data" cdkDrag cdkDragBoundary="#positionBoundary" [ngStyle]="getScaffoldStyle(scaffold)">
  
        </div>
      </div>
    </div>
  </div>
</div>